/* -------- WEBSITE Styles -------- */

.standard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    color: white;
}

/* Text */
.text-content {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    padding-top: 2.5rem;
    box-sizing: border-box;
}

.text-content h1 {
    text-align: left;
    font-size: 2rem;
}

.text-content h2 {
    margin-top: 3rem;
    text-align: left;
    font-size: 1.6rem;
}

.text-content h3 {
    margin-top: 2.5rem;
    text-align: center;
    font-size: 1.4rem;
}

.text-content p,
.text-content li {
    text-align: left;
    line-height: 1.6;
    margin-bottom: 1.2rem;
    font-size: 1rem;
}

/* -------- Responsive Styles -------- */

/* Tablet and down */
@media (max-width: 767px) {
    .text-content {
        padding: 0 30px;
        padding-top: 2rem;
    }

    .text-content h1 {
        font-size: 1.8rem;
    }

    .text-content h2 {
        font-size: 1.5rem;
    }

    .text-content h3 {
        font-size: 1.3rem;
    }

    .text-content p,
    .text-content li {
        font-size: 0.95rem;
    }
}

/* Mobile */
@media (max-width: 480px) {
     .text-content {
        padding: 0 20px;
        padding-top: 1.5rem;
    }

    .text-content h1 {
        font-size: 1.5rem;
    }

    .text-content h2 {
        font-size: 1.25rem;
    }

    .text-content h3 {
        font-size: 1.1rem;
    }

    .text-content p,
    .text-content li {
        font-size: 0.9rem;
    }
}

/* Very small devices */
@media (max-width: 320px) {
    .text-content {
        padding: 0 10px;
        padding-top: 1rem;
    }

    .text-content h1 {
        font-size: 1.3rem;
    }

    .text-content h2 {
        font-size: 1.1rem;
    }

    .text-content h3 {
        font-size: 1rem;
    }

    .text-content p,
    .text-content li {
        font-size: 0.85rem;
    }
}
