/* -------- WEBSITE Styles -------- */

.standard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    color: white;
}

/* Text */
.text-content {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
}

.text-content h1 {
    text-align: left;
}

.text-content h2 {
    margin-top: 50px;
    text-align: left;
}

.text-content h3 {
    margin-top: 50px;
    text-align: center;
}

.text-content p, li {
    text-align: left;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* -------- TABLET Styles -------- */
@media (max-width: 768px) {


    .text-content {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
        padding-top: 40px;
    }
}



/* -------- MOBILE Styles -------- */
@media (max-width: 425px) {
    .text-content {
        width: 380px;
    }
}

@media (max-width: 375px) {
    .text-content {
        width: 330px;
    }

    .text-content h1 {
        font-size: 1.5rem;
    }

    .text-content h2 {
        font-size: 1.2rem;
    }

    .text-content h3 {
        font-size: 1.1rem;
    }

    .text-content p, li {
        font-size: 0.9rem;
    }
}

@media (max-width: 320px) {
    .text-content {
        width: 280px;
    }
}