/* -------- WEBSITE Styles -------- */

.standard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px;
}
/* Header */
.header {
    width: 100%;
    padding: 20px 0;
    position: relative;
}

.header-content {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.home-links {
    display: flex;
    gap: 20px;
    position: absolute;
    margin-right: 500px;
    align-items: center;
}

.home-logo {
    width: 180px; 
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
}

.home-links a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    }

.home-links a:hover {
    text-decoration: underline;
}

/* Text */
.text-content {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
}

h1 {
    text-align: left;
}

h2 {
    margin-top: 50px;
    text-align: left;
}

h3 {
    margin-top: 50px;
    text-align: center;
}

p {
    text-align: left;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* -------- SMARTPHONE Styles -------- */